* {
  margin: 0;
}
h3 {
  font-weight: bolder;
}
.logo {
  width: 50px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(116, 172, 167);
  align-items: center;
}
.buttons-nav {
  display: flex;
  justify-content: space-between;
  width: 25em;
  margin-right: 2em;
  font-family: "Montserrat", sans-serif;
}
.button-nav {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.portada {
  width: 100%;
  height: 500px;
}
.titulo-portada {
  text-shadow: #ffffff 0px 0px 30px, #ffffff 0px 0px 20px, #ffffff 0px 0px 10px;
  position: absolute;
  transform: translate(16%, -600%);
  color: #000000;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}
.titulo-intro {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-size: 40px;
  color: #000000;
  text-align: center;
}
.productos-section {
  background-color: rgb(116, 172, 167);
  font-family: "Montserrat", sans-serif;
}
.titulo-opciones {
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #000000;
  text-align: center;
}
.productos {
  display: flex;
  justify-content: space-evenly;
  margin: 2em;
  margin-bottom: -1em;
}
.planes {
  padding: 5em;
  background-color: rgba(0, 255, 255, 0.322);
  margin: 30px;
}
.contacto-img {
  width: 100%;
  height: 500px;
}
.novedades {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.suscribite {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #000000;
  text-align: center;
}
.form-index-1 {
  text-align: center;
}
.form-index {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  border: 2px #000000 solid;
  border-radius: 12px;
  width: 55%;
}
.btn-contacto {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  border: 2px #000000 solid;
  border-radius: 12px;
}
.footer {
  display: flex;
  background-color: rgb(116, 172, 167);
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  align-items: center;
}
.footer-redes {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.redes {
  width: 25px;
}
